{% extends 'base.html' %}

{% block title %}
Thyroid Disease Detection
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #a4b0be;">
    <a class="navbar-brand" href="/">ThyroidDiseaseDetection</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/shivamshinde123/Thyroid_disease_detection">source code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('info')}}">metadata</a>
            </li>
        </ul>
    </div>
</nav>
<div><br>
    <!-- nav bar ends -->
    <div class="container-fluid masthead">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">
                        <!-- Input block-->
                        <div class="form-group">
                            <label for="translation">
                                <blockquote class="blockquote">
                                    <p class="mb-2">Enter the details as indicated:</p>
                                </blockquote>
                            </label>
                            <textarea class="form-control" name="age" rows="1"
                                placeholder="age: should be between 0 and 100"></textarea>
                            <select class="form-control form-select" name="sex">
                                <option selected value="">sex</option>
                                <option value="M">Sex: Male</option>
                                <option value="F">Sex: Female</option>
                            </select>
                            <select class="form-control form-select" name="on_thyroxine">
                                <option selected value="">on_thyroxine</option>
                                <option value="t">on_thyroxine: True</option>
                                <option value="f">on_thyroxine: False</option>
                            </select>
                            <select class="form-control form-select" name="query_on_thyroxine">
                                <option selected value="">query_on_thyroxine</option>
                                <option value="t">query_on_thyroxine: True</option>
                                <option value="f">query_on_thyroxine: False</option>
                            </select>
                            <select class="form-control form-select" name="on_antithyroid_meds">
                                <option selected value="">on_antithyroid_meds</option>
                                <option value="t">on_antithyroid_meds: True</option>
                                <option value="f">on_antithyroid_meds: False</option>
                            </select>
                            <select class="form-control form-select" name="sick">
                                <option selected value="">sick</option>
                                <option value="t">sick: True</option>
                                <option value="f">sick: False</option>
                            </select>
                            <select class="form-control form-select" name="pregnant">
                                <option selected value="">pregnant</option>
                                <option value="t">pregnant: True</option>
                                <option value="f">pregnant: False</option>
                            </select>
                            <select class="form-control form-select" name="thyroid_surgery">
                                <option selected value="">thyroid_surgery</option>
                                <option value="t">thyroid_surgery: True</option>
                                <option value="f">thyroid_surgery: False</option>
                            </select>
                            <select class="form-control form-select" name="I131_treatment">
                                <option selected value="">I131_treatment</option>
                                <option value="t">I131_treatment: True</option>
                                <option value="f">I131_treatment: False</option>
                            </select>
                            <select class="form-control form-select" name="query_hypothyroid">
                                <option selected value="">query_hypothyroid</option>
                                <option value="t">query_hypothyroid: True</option>
                                <option value="f">query_hypothyroid: False</option>
                            </select>
                            <select class="form-control form-select" name="query_hyperthyroid">
                                <option selected value="">query_hyperthyroid</option>
                                <option value="t">query_hyperthyroid: True</option>
                                <option value="f">query_hyperthyroid: False</option>
                            </select>
                            <select class="form-control form-select" name="lithium">
                                <option selected value="">lithium</option>
                                <option value="t">lithium: True</option>
                                <option value="f">lithium: False</option>
                            </select>
                            <select class="form-control form-select" name="goitre">
                                <option selected value="">goitre</option>
                                <option value="t">goitre: True</option>
                                <option value="f">goitre: False</option>
                            </select>
                            <select class="form-control form-select" name="tumor">
                                <option selected value="">tumor</option>
                                <option value="t">tumor: True</option>
                                <option value="f">tumor: False</option>
                            </select>
                            <select class="form-control form-select" name="hypopituitary">
                                <option selected value="">hypopituitary</option>
                                <option value="t">hypopituitary: True</option>
                                <option value="f">hypopituitary: False</option>
                            </select>
                            <select class="form-control form-select" name="psych">
                                <option selected value="">psych</option>
                                <option value="t">psych: True</option>
                                <option value="f">psych: False</option>
                            </select>
                            <textarea class="form-control" name="TSH" rows="1"
                                placeholder="TSH: should be between 0.005 and 530.0"></textarea>
                            <textarea class="form-control" name="T3" rows="1"
                                placeholder="T3: should be betweeen 0.05 and 18.0"></textarea>
                            <textarea class="form-control" name="TT4" rows="1"
                                placeholder="TT4: should be between 2.0 and 600.0"></textarea>
                            <textarea class="form-control" name="T4U" rows="1"
                                placeholder="T4U: should be between 0.17 and 2.33"></textarea>
                            <textarea class="form-control" name="FTI" rows="1"
                                placeholder="FTI: should be between 1.4 and 881.0"></textarea>
                            <textarea class="form-control" name="TBG" rows="1"
                                placeholder="TBG: should be between 0.1 and 200.0"></textarea>
                            <select class="form-control form-select" name="referral_source">
                                <option selected>referral_source</option>
                                <option value="SVI">referral_source: SVI</option>
                                <option value="SVHC">referral_source: SVHC</option>
                                <option value="STMW">referral_source: STMW</option>
                                <option value="SVHD">referral_source: SVHD</option>
                                <option value="WEST">referral_source: WEST</option>
                                <option value="other">referral_source: other</option>
                            </select>
                        </div>
                        <!-- Select output language here. -->
                        <div class="form-group">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Predict</button></br>
                        </br>
                    </form>
                    <!-- Translated text returned by the Translate API is rendered here. -->
                </div>
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="translation-result">

                                <blockquote class="blockquote">
                                    <p class="mb-2">Thyroid Condition:</p>
                                </blockquote>

                            </label>
                            <textarea readonly class="form-control" id="exTextarea" rows="5">{{ prediction }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

    {% endblock body %}

    {% block custom_js %}
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
    {% endblock custom_js %}